<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="css/skin_/table.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.grid.css" />


<title>表格</title>
<style type="text/css">
	.search-box div{
		margin-left: 1rem;
	}
	.search-button:nth-child(2) input{
		background: #FF7200;
	}
	.iselect-wrapper {
	    position: relative;
	    width: 80px;
	    height: 28px;
	    padding: 0 20px 0 5px;
	    line-height: 28px;
	    border-width: 1px;
	    border-style: solid;
	    border-left-color: #c5c5c5;
	    border-top-color: #c5c5c5;
	    border-right-color: #e0e0e0;
	    border-bottom-color: #e0e0e0;
	    background: url(../img/skin_/select_normal.png) no-repeat right center #fff;
	    margin-top: 0.3rem;
	}
	.CK{
		position: relative;
	    width: 12.4rem;	
	    height: 28px;
	    padding: 0 20px 0 5px;
	    line-height: 28px;
	    border-width: 1px;
	    border-style: solid;
	    border-left-color: #c5c5c5;
	    border-top-color: #c5c5c5;
	    border-right-color: #e0e0e0;
	    border-bottom-color: #e0e0e0;
	   
	    margin-top: 0.3rem;
	}
	.opt select{
		position: relative;
	    width: 107px;
	    height: 28px;
	    top:0.35rem;
	}
	.opt input{
		width: 5rem;
		height: 1.9rem;
		margin-top: 0.3rem;
		background: #url(../img/skin_/formbtnbg.png);
	}
	.tab table tr{
		height: 2.5rem;
	}
	.tab table tr td{
		border: 0.5px solid #CFCFCF;		
		width: 12rem;
		text-align: center;
	}
	.tab table tr td:last-child{
		width: 21rem;
	}
	
	.tab table{
		font-size: 0.8rem;	
		margin-left: -0.6rem;
		width: 105.7rem;	
	}
	.teacher tr{
		display: none;
	}
	#addKC{
		width: 54rem;	
		border: 3px groove #3EAADD;
		background: #F5F5F5;
		z-index: 2;
		position: absolute;
		left: 20rem;
		top:8rem;
		display: none;
	    padding-left: 7.5rem;
	    padding-top: 0.5rem;
	}
	#addKC h1{
		font-family: "楷体";
		font-size: 2rem;
		margin-left: 18rem;
	}
	#addKC p{
		display: flex;		
	}
	
	#addKC p select{
		position: absolute;
	    width: 227px;
	    height: 28px;
	}
	#addKC p span{
		margin-top: 0.5rem;
	}
	#addKC .iselect-wrapper {
	    width: 200px;
	}
	.tables tr{
		border-bottom: 1px solid gray;
	}
	.tables tr:last-child{
		
	}
	.tables tr td{
		width: 10rem;
		text-align: center;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
	}
	.tables tr td:first-child {
		border:none;
	}
	.tables tr td:last-child {
		border:none;
		width: 21.1rem
	}
	.tables{
		font-size: 1rem;
		font-family: cursive;
	}

</style>
</head>

<body>
<div id="container">
	<div id="addKC">
	<form action="">
    	<h1>日程安排</h1>
    	<hr style="width: 61.4rem;margin-left: -7.5rem"/>
    	<img id="addclazz" alt="" src="img/all_addpic.png" style="width: 1.8rem;height: 1.8rem;margin-left: 15rem;cursor: pointer;">
    	<p style="margin-left: -1.3rem;margin-top: -2rem" >
    		<span>班级  :</span>
	    	<select style="margin-left: 2.1rem" id="clazzxx">
	    		<option value="0">请选择</option>
       			<option v-for="(item,index) in clazzs" v-bind:value="item.cid">{{item.cname}}</option>
       		</select>       		
    	</p>
    	<div style="margin-top: 0.5rem;width: 15rem" id="xzclz">
    		<p>所选择的班级如下:</p>
    	</div>
    	   	
    	<p style="margin-left: 0.3rem;">
    		<span style="margin-left: -1.55rem">日期  :</span>
	    	<input class="CK" type="date" name="" id="startdate" value="" />
	    	<span>上午</span><input type="radio" style="margin-top: 0.8rem;width: 1rem;height: 1rem;"  name="startt" value="0" checked="checked"/>
	    	<span>下午</span><input type="radio" name="startt" value="1" style="margin-top: 0.8rem;width: 1rem;height: 1rem"/>
	    	<span style="margin-top: 0.5rem">--</span><input class="CK" type="date" name="" id="enddate" value="" />
	    	<span>上午</span><input type="radio" style="margin-top: 0.8rem;width: 1rem;height: 1rem;"  name="endt" value="0" checked="checked"/>
	    	<span>下午</span><input type="radio" name="endt" value="1" style="margin-top: 0.8rem;width: 1rem;height: 1rem"/>
    	</p>
    	<p style="margin-left: -1.3rem;">
    		<span>标题 :</span>
	    	<input class="CK" type="text" name="" id="bt" value="" />
    	</p>
    	<p style="margin-left: -1.3rem;">
    		<span style="margin-left: -0.8rem">负责人  :</span>
	    	<input class="CK" type="text" name="" id="fzr" value="" />
    	</p>
    	<p style="margin-left: -1.3rem;margin-top: 1rem">
    		<span>概要 :</span>
	    	<textarea id="gy" rows="8" cols="8" style="width: 30rem;height: 10rem;font-size: 1.5rem;background: white;"></textarea>
	    	<input id="saverc" class="button" type="button" value="保存" style="margin-left:6.6rem;margin-top: 8rem"/>
	    	<input id="resetc" class="button" type="reset" value="重置" style="margin-left:1.6rem;margin-top: 8rem;margin-right: 1rem"/>
    	</p>
    	</form>
    	<br/>
    	<div style="background: white;border: 1px solid gray;margin-left:-7.5rem;">
       		<table class="tables">	     
        		<tr class="opt" style="border-bottom: 1px solid gray;font-size: 1.5rem;font-family: cursive;">
        			<td >日期</td>
        			<td>标题</td>
        			<td>班级</td>
        			<td>负责人</td>
        			<td>概要</td>
        		</tr>               		
         	</table>
			<table class="tables" v-for="(item,index) in richeng">	     
        		<tr class="opt" style="border-bottom: 1px solid gray;font-family: cursive;" v-for="(it,index) in item">
        			<td>{{it.datestart}}<span v-if="it.startqj==0">上午</span><span v-if="it.startqj==1">下午</span><br/>{{it.dateend}}<span v-if="it.endqj==0">上午</span><span v-if="it.endqj==1">下午</span></td>
        			<td>{{it.title}}</td>
        			<td>{{it.clazz.cname}}</td>
        			<td>{{it.tname}}</td>
        			<td>{{it.outline}}</td>
        		</tr>         		               		
         	</table>
         	
        </div>
        <p style="margin-top: 2rem;margin-bottom: 2rem;padding-left: 4rem"> 
    	<input class="button" type="button" value="提交日程" id="submit"/> 

    	<input class="button" type="button" value="取消" id="reset" style="margin-left: 8rem"/>
    	</p> 
    </div>	
    <div id="bd">   
    	<div id="main">
        	<div class="search-box ue-clear"> 
        		<div class="search-button">
                	<input class="button" type="button" value="课程查看" />
                </div>
                <div class="search-button">
                	<input class="button" type="button" value="自动排课" />
                </div>
                <div class="search-button">
                	<input class="button" type="button" value="手动调课" />
                </div>
                <div class="search-button">
                	<input class="button" type="button" value="课表查询" />
                </div>
                <div class="search-button">
                	<input class="button" type="button" value="课表统计" />
                </div>
                <div class="search-button">
                	<input class="button" type="button" value="调课审核" />
                </div>
             </div>
             
            <div class="table">
            	<div class="opt ue-clear" style="display: flex;line-height: 2.5rem;">
                		<span>版本号</span>
	            		<select class="chooseVession">
	            			<option value="0">请选择</option>
	            			<option v-for="(item,index) in vessions" v-bind:value="item.vid">{{item.vname}}</option>
	            		</select>
	            		<div style="margin-left: 1rem;"></div>
	            		<span>年级</span>
	            		<select class="chooseGrade">
	            			<option value="0">请选择</option>
	            			<option v-for="(item,index) in grades" v-bind:value="item.bid">{{item.grade.gname}}</option>
	            		</select>
	            		<div style="margin-left: 1.5rem;"></div>
	            		<span>日期</span>
	            		<input type="date" style="width: 8rem;height: 26px" name="" id="xzstart" v-bind:value="nextTime"/>--
	            		<input type="date" style="width: 8rem;height: 26px" name="" id="xzend" v-bind:value="nextEndTime"/>
	            		<div class="search-button" style="margin-left:1.5rem;">
		                	<input class="button" id="AddCourse" style="width: 7rem" type="button" value="自动生成课表" />
		                </div>
                </div>  
            </div>
                	
            	<div  class="opt ue-clear tab" >
            		<div v-for="(item,index) in clazzs">
	            		<table>
	            			<tr>
	            				<td colspan="8" style="text-align: center;font-size:1.5rem;background: #B3BABD;">{{item.cname}}</td>
	            			</tr>
	            		</table>
	            		         
	               		<table>	     
	                		<tr class="opt" v-if="zhou==1">
	                			<td>节次</td>
	                			<td>周一</td>
	                			<td>周二</td>
	                			<td>周三</td>
	                			<td>周四</td>
	                			<td>周五</td>
	                			<td>周六</td>
	                			<td>周日</td>
	                		</tr>
	                		<tr class="opt" v-if="zhou==2">
	                			<td>节次</td>
	                			<td>周二</td>
	                			<td>周三</td>
	                			<td>周四</td>
	                			<td>周五</td>
	                			<td>周六</td>
	                			<td>周日</td>
	                			<td>周一</td>
	                		</tr>
	                		<tr class="opt" v-if="zhou==3">
	                			<td>节次</td>                			
	                			<td>周三</td>
	                			<td>周四</td>
	                			<td>周五</td>
	                			<td>周六</td>
	                			<td>周日</td>
	                			<td>周一</td>
	                			<td>周二</td>
	                		</tr>
	                		<tr class="opt" v-if="zhou==4">
	                			<td>节次</td>
	                			<td>周四</td>
	                			<td>周五</td>
	                			<td>周六</td>
	                			<td>周日</td>
	                			<td>周一</td>
	            			    <td>周二</td>
	                			<td>周三</td>
	                		</tr>
	                		<tr class="opt" v-if="zhou==5">
	                			<td>节次</td>
	                			<td>周五</td>
	                			<td>周六</td>
	                			<td>周日</td>
	                			<td>周一</td>
	                			<td>周二</td>
	                			<td>周三</td>
	                			<td>周四</td>
	                		</tr>
	                		<tr class="opt" v-if="zhou==6">
	                			<td>节次</td>
	                			<td>周六</td>
	                			<td>周日</td>
	                			<td>周一</td>
	                			<td>周二</td>
	                			<td>周三</td>
	                			<td>周四</td>
	                			<td>周五</td>
	                		</tr>
	                		<tr class="opt" v-if="zhou==7">
	                			<td>节次</td>
	                			<td>周日</td>
	                			<td>周一</td>
	                			<td>周二</td>
	                			<td>周三</td>
	                			<td>周四</td>
	                			<td>周五</td>
	                			<td>周六</td>
	                		</tr>
	                		<tr v-for="(item1,index1) in apm"  v-if="index==0 && index1==0">
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==0">上午</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==0 && item.scheduleid==0" style="background:orange;"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==0 && item.scheduleid!=0" style="background: #86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==0 && item.scheduleid==0" style="background:orange;"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==0 && item.scheduleid!=0" style="background: #86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==0 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>	                			
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==0 && item.scheduleid!=0" style="background: #86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==0 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==0 && item.scheduleid!=0" style="background: #86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==0 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==0 && item.scheduleid!=0" style="background: #86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==0 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==0 && item.scheduleid!=0" style="background: #86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==0 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                		</tr>	               		
	                		<tr v-for="(item1,index1) in apm"  v-if="index==0 && index1==0">
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==0">下午</td>       	                		
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==0 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==0 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                		</tr> 
	                		<tr v-for="(item1,index1) in apm" v-if="index==1 && index1==1">
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==1">上午</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==1 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                		</tr>
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==1 && index1==1">
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==1">下午</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==1 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==1 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                		</tr>
	                		
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==2 && index1==2">
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==2">上午</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==2 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                		</tr>
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==2 && index1==2">
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==2">下午</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==2 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==2 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                		</tr>
	                		
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==3 && index1==3">
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==3">上午</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==3 && item.scheduleid==0" style="background:orange">教室:{{item.classroomname}}教员:{{item.tname}}课程名称:{{item.coursename}}课程进度:{{item.courseschedule}}/{{item.coursetime}}</td>
	                		</tr>
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==3 && index1==3">
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==3">下午</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==3 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==3 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                		</tr>
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==4 && index1==4">
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==4">上午</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==0 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==2 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==4 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==6 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==8 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==10 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==12 && index1==4 && item.scheduleid==0" style="background:orange"><p>教室:{{item.classroomname}}</p><p>教员:{{item.tname}}</p><p>课程名称:{{item.coursename}}</p><p>课程进度:{{item.courseschedule}}/{{item.coursetime}}</p></td>
	                		</tr>
	                		
	                		<tr v-for="(item1,index1) in apm" v-if="index==4 && index1==4">
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==4">下午</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==1 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==3 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==5 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==7 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==9 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==11 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==4 && item.scheduleid!=0" style="background:#86DB49">日程安排:{{item.schedule.title}}</td>
	                			<td v-for="(item,index) in item1" v-if="index==13 && index1==4 && item.scheduleid==0" style="background:orange">自习教室:{{item.classroomname}}</td>
	                		</tr>
	                		
	                		               		
	                	</table>
	                	
	                	<br/>
                	</div>
                	
                	<input class="button" id="fb" type="button" value="发 布" style="margin-left: 94rem;width: 10rem;height: 2.2rem;margin-top: 1rem"/>	                	 	
                </div>
                
            
        </div>
       	    
    </div>
   
    
</div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/jquery.pagination.js"></script>
<script type="text/javascript" src="js/jquery.grid.js"></script>
<script type="text/javascript" src="js/WdatePicker.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	$(function(){
		
		var v=new Vue({
			el:"#container",
			data:{
				vessions:null,
				grades:null,
				clazzs:null,
				richeng:[],
				zhou:0,
				nextTime:null,
				nextEndTime:null,
				apm:[]
			}
		});
		var clzss=[];
		var datestart;
		var dateend;
		//显示隐藏新增课程
		$("#AddCourse").click(function(){	
			$("#addKC").fadeIn();
			v.richeng=[];
			datestart=$("#xzstart").val();
			dateend=$("#xzend").val();
			$("#xzstart").attr("value",datestart);
			$("#xzend").attr("value",dateend);
			var date = new Date(datestart);
	        var weeknum = date.getDay();     //返回一周的某一天数字。（0-6）
	        if (weeknum == 0) {
	          weeknum = 7;
	        }
	        v.zhou=weeknum;
			$.each(v.clazzs, function(){ 
			    $.ajax({
					url:'SelectSchedule',
					dataType:'json',
					data:'datestart='+datestart+'&dateend='+dateend+'&clazzs='+this.cid,
					type:'post',
					success:function(data){
						v.richeng.push(data);
			    	}
				});
			   
			 });						
		});
		//提交日程
		$("#submit").click(function(){
			//重置教室状态
			$.ajax({
				url:'updateRoom',
				dataType:'json',			
				type:'post',
				success:function(data){	
					
				}
			});
			$.each(v.clazzs, function(){
			     $.ajax({
					url:'AddClazzSchedule',
					dataType:'json',
					data:'datestart='+datestart+'&dateend='+dateend+'&clzss='+this.cid,
					type:'post',
					success:function(data){	
						
					}
				});
			     alert("提交成功!");
			    $.ajax({
			    	url:'queryClazzSchedule',
					dataType:'json',
					data:'datetime1='+datestart+'&datetime2='+dateend+'&cid='+this.cid,
					type:'post',
					success:function(data){
						v.apm.push(data);
					}
			    }); 
			    
			 });
			     			    					
			$("#addKC").fadeOut();
		});
		//发布日程
		$("#fb").click(function(){
			$.each(v.clazzs, function(){
				$.ajax({
			    	url:'updateStatus',
					dataType:'json',
					data:'datetime1='+datestart+'&datetime2='+dateend+'&cid='+this.cid,
					type:'post',
					success:function(data){
						alert("发布成功!");
					}
			    }); 			    
			 });
			
		});
		//保存隐藏div
		$("#save").click(function(){
			$("#addKC").fadeOut();
		});	
		//取消隐藏div
		$("#reset").click(function(){
			$("#addKC").fadeOut();
		});
		$("#addclazz").click(function(){
			var valz=$("#clazzxx").val();
			var text=$("#clazzxx option:selected").text();
			var count=0;
			if(valz!=0){
				if((clzss.length+1)%5==0 && clzss.length!=0){
					var a="<span style='font-size:1.2rem;margin-left:1rem'>"+text+"</span><br/>";
				}else{
					var a="<span style='font-size:1.2rem;margin-left:1rem'>"+text+"</span>";					
				}    
				 $.each(clzss, function(){     
				    if(this==valz){
				    	count=1;
				    }    
				 });
				 if(count==0){
					clzss.push(valz);
					$("#xzclz").append($(a));
				 }else{
					 alert("班级不能重复添加!");
				 }
				
			}
		});
		$("#resetc").click(function(){
			clzss=[];
			$("#xzclz span").remove();
		});
		//ajax查询版本
		$.ajax({
			url:'ToVessions',
			dataType:'json',
			type:'post',
			success:function(data){
	    		v.vessions=data;
	    	}
		});
		
		$(".chooseVession").change(function(){
			var vid=$(this).val();
			$.ajax({
				url:'ToGrades',
				data:'vid='+vid,
				dataType:'json',
				type:'post',
				success:function(data){
		    		v.grades=data;
		    	}
			});
		});
		$(".chooseGrade").change(function(){
			var bid=$(this).val();
			if(bid==0){
				$("#fb").hide();
			}else{
				$("#fb").show();
			}
			$.ajax({
				url:'selectNextTime',
				data:'bid='+bid,
				type:'post',
				success:function(data1){
					if(data1[0]!=null){
						$("#xzstart").attr({"readonly":"readonly"});//添加readonly属性 & $("#ID").attr({ readonly: 'true' });
						$("#xzend").attr({"readonly":"readonly"});
					}else{
						$("#xzstart").removeAttr("readonly");//去除readonly属性
						$("#xzend").removeAttr("readonly");
					}
		    		v.nextTime=data1[0];
		    		v.nextEndTime=data1[1];
		    	}
			});
			$.ajax({
				url:'BybidToClazzs',
				data:'bid='+bid,
				dataType:'json',
				type:'post',
				success:function(data){
		    		v.clazzs=data;
		    	}
			});
			
		});
		$("#saverc").click(function(){
			var startdate=$("#startdate").val();
			var enddate=$("#enddate").val();
			var bt=$("#bt").val();
			var fzr=$("#fzr").val();
			var gy=$("#gy").val();
			var startqj=$("[name=startt]:checked").val();
			var endqj=$("[name=endt]:checked").val();
			$.ajax({
				url:'AddSchedule',
				data:'clzss='+clzss+'&datestart='+startdate+'&dateend='+enddate+'&tname='+fzr+'&title='+bt+'&outline='+gy+'&endqj='+endqj+'&startqj='+startqj,
				dataType:'json',
				type:'post',
				success:function(data){
		    		alert("添加成功!");
		    	}
			});
			$("#clazzxx option:first").prop("selected", 'selected');
			$("[name=startt]:first").prop("checked", 'checked');
			$("[name=endt]:first").prop("checked", 'checked');
			$("#xzclz span").remove();
			$("#startdate").val("");
			$("#enddate").val("");
			$("#bt").val("");
			$("#fzr").val("");
			$("#gy").val("");
			clzss=[];
			//重新刷新日程
			v.richeng=[];
			var datestart=$("#xzstart").val();
			var dateend=$("#xzend").val();
			$.each(v.clazzs, function(){     
			    $.ajax({
					url:'SelectSchedule',
					dataType:'json',
					data:'datestart='+datestart+'&dateend='+dateend+'&clazzs='+this.cid,
					type:'post',
					success:function(data){
						v.richeng.push(data);
			    	}
				});
			 });
		});
	})
</script>
</html>
