<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>请假</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

</head>

<body>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">请假申请</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	请假条
                        </div>
                        <div class="panel-body">
                            <div class="row" style="margin-left: 0.5em;">
                             <div class="form-group">
                                <label>请假开始时间:</label>
                                <input class="form-control" type = "date" id = "startTime" style="width: 60%;">
                             </div>
                              <div class="form-group">
                                <label>请假截止时间:</label>
                                <input class="form-control" type = "date" id = "endTime"  style="width: 60%;">
                             </div>
                              <div class="form-group">
                                <label>请假事由：</label>
                                <textarea class="form-control" rows="5" id = "content" style="width: 60%;"></textarea>
                              </div>
                              <div style="margin-left: 12em;">
                              	  <button type="button" class="btn btn-default">重 置</button>
                              	  <button type="button" class="btn btn-info" id = "tj" style="margin-left: 3em;">提 交</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- jQuery -->
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$("#tj").click(function(){
    		var startTime = $("#startTime").val();
    		var endTime = $("#endTime").val();
    		var content = $("#content").val();
    		alert(startTime+endTime+content);
    		$.ajax({
    			url:"insertLeave",
    			type:"post",
    			data:{
    				startime:startTime,
    				endtime:endTime,
    				main:content
    			},
    			success:function(data){
    				
    			}
    		});
    	});
    	
    
    </script>
</body>

</html>

