<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/skin_/login.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
<title>智慧校园管理系统登录</title>
<style>	
	body{background: url(img/Starry.jpg);}
</style>
</head>

<body>
	<!-- 背景div -->
	<div id="mydiv" >
		<div >
	    <div id="bd">
	    	<div id="main">
	        	<div class="login-box">
	                <div id="logo"></div>
	                <h1>智慧校园管理系统</h1>
	                <div class="input username" id="username">
	                    <label for="userName">用户名</label>
	                    <span></span>
	                    <input type="text" id="userName" />
	                </div>
	                <div class="input psw" id="psw">
	                    <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
	                    <span></span>
	                    <input type="password" id="password" />
	                </div>
	                	                
	                <div id="btn">
	                    <input type="button" class="button" value="注册"/>	                    
	                </div>
	                <div id="btt">
	                    <input type="button" class="button" value="登录"/>	                    
	                </div>
	            </div>
	        </div>
	        <div id="ft">CopyRight&nbsp;2019&nbsp;&nbsp;版权所有&nbsp;&nbsp;<a href="" target="_blank">优昇科技</a>&nbsp;&nbsp;</div>
	    </div>  
	</div>
		
		
		
	</div>
	<script type="text/javascript">
		window.onload = function() {
		    //配置
		    var config = {
		        vx: 4,	//小球x轴速度,正为右，负为左
		        vy: 4,	//小球y轴速度
		        height: 2,	//小球高宽，其实为正方形，所以不宜太大
		        width: 2,
		        count: 200,		//点个数
		        color: "121, 162, 185", 	//点颜色
		        stroke: "130,255,255", 		//线条颜色
		        dist: 6000, 	//点吸附距离
		        e_dist: 20000, 	//鼠标吸附加速距离
		        max_conn: 10 	//点到点最大连接数
		    }
		    //调用
		    CanvasParticle(config);
		}
	</script>
	<script type="text/javascript" src="js/canvas-particle.js"></script>
	
	
	

</body>
<script type="text/javascript">
	var height = $(window).height() > 445 ? $(window).height() : 445;
	$("#container").height(height);
	var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
	$('#bd').css('padding-top', bdheight);
	$(window).resize(function(e){
        var height = $(window).height() > 445 ? $(window).height() : 445;
		$("#container").height(height);
		var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
		$('#bd').css('padding-top', bdheight);
    });
	$('select').select();
	
	$('.loginButton').click(function(e) {
        document.location.href = "main.html";
    });
</script>

</html>
