<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.AppendixMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.Appendix">
    <id column="appendix_id" jdbcType="INTEGER" property="appendix_id" />
    <result column="affiche_id" jdbcType="INTEGER" property="affiche_id" />
    <result column="appendix_title" jdbcType="VARCHAR" property="appendix_title" />
    <result column="appendix_content" jdbcType="VARCHAR" property="appendix_content" />
    <result column="img_id" jdbcType="INTEGER" property="img_id" />
    <result column="appendix_time" jdbcType="DATE" property="appendix_time" />
    <result column="u_id" jdbcType="INTEGER" property="u_id" />
    <result column="appendix_sendee" jdbcType="INTEGER" property="appendix_sendee" />
    <result column="delete_id" jdbcType="INTEGER" property="delete_id" />
  </resultMap>
  
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    appendix_id, affiche_id, appendix_title, appendix_content, img_id, appendix_time, 
    u_id, appendix_sendee, delete_id
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.AppendixExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from appendix
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appendix
    where appendix_id = #{appendixId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appendix
    where appendix_id = #{appendixId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.AppendixExample">
    delete from appendix
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Appendix">
    insert into appendix (appendix_id, affiche_id, appendix_title, 
      appendix_content, img_id, appendix_time, 
      u_id, appendix_sendee, delete_id
      )
    values (#{appendixId,jdbcType=INTEGER}, #{afficheId,jdbcType=INTEGER}, #{appendixTitle,jdbcType=VARCHAR}, 
      #{appendixContent,jdbcType=VARCHAR}, #{imgId,jdbcType=INTEGER}, #{appendixTime,jdbcType=DATE}, 
      #{uId,jdbcType=INTEGER}, #{appendixSendee,jdbcType=INTEGER}, #{deleteId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Appendix">
    insert into appendix
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appendixId != null">
        appendix_id,
      </if>
      <if test="afficheId != null">
        affiche_id,
      </if>
      <if test="appendixTitle != null">
        appendix_title,
      </if>
      <if test="appendixContent != null">
        appendix_content,
      </if>
      <if test="imgId != null">
        img_id,
      </if>
      <if test="appendixTime != null">
        appendix_time,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="appendixSendee != null">
        appendix_sendee,
      </if>
      <if test="deleteId != null">
        delete_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appendixId != null">
        #{appendixId,jdbcType=INTEGER},
      </if>
      <if test="afficheId != null">
        #{afficheId,jdbcType=INTEGER},
      </if>
      <if test="appendixTitle != null">
        #{appendixTitle,jdbcType=VARCHAR},
      </if>
      <if test="appendixContent != null">
        #{appendixContent,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="appendixTime != null">
        #{appendixTime,jdbcType=DATE},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="appendixSendee != null">
        #{appendixSendee,jdbcType=INTEGER},
      </if>
      <if test="deleteId != null">
        #{deleteId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.AppendixExample" resultType="java.lang.Long">
    select count(*) from appendix
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update appendix
    <set>
      <if test="record.appendixId != null">
        appendix_id = #{record.appendixId,jdbcType=INTEGER},
      </if>
      <if test="record.afficheId != null">
        affiche_id = #{record.afficheId,jdbcType=INTEGER},
      </if>
      <if test="record.appendixTitle != null">
        appendix_title = #{record.appendixTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.appendixContent != null">
        appendix_content = #{record.appendixContent,jdbcType=VARCHAR},
      </if>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=INTEGER},
      </if>
      <if test="record.appendixTime != null">
        appendix_time = #{record.appendixTime,jdbcType=DATE},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.appendixSendee != null">
        appendix_sendee = #{record.appendixSendee,jdbcType=INTEGER},
      </if>
      <if test="record.deleteId != null">
        delete_id = #{record.deleteId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update appendix
    set appendix_id = #{record.appendixId,jdbcType=INTEGER},
      affiche_id = #{record.afficheId,jdbcType=INTEGER},
      appendix_title = #{record.appendixTitle,jdbcType=VARCHAR},
      appendix_content = #{record.appendixContent,jdbcType=VARCHAR},
      img_id = #{record.imgId,jdbcType=INTEGER},
      appendix_time = #{record.appendixTime,jdbcType=DATE},
      u_id = #{record.uId,jdbcType=INTEGER},
      appendix_sendee = #{record.appendixSendee,jdbcType=INTEGER},
      delete_id = #{record.deleteId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Appendix">
    update appendix
    <set>
      <if test="afficheId != null">
        affiche_id = #{afficheId,jdbcType=INTEGER},
      </if>
      <if test="appendixTitle != null">
        appendix_title = #{appendixTitle,jdbcType=VARCHAR},
      </if>
      <if test="appendixContent != null">
        appendix_content = #{appendixContent,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        img_id = #{imgId,jdbcType=INTEGER},
      </if>
      <if test="appendixTime != null">
        appendix_time = #{appendixTime,jdbcType=DATE},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="appendixSendee != null">
        appendix_sendee = #{appendixSendee,jdbcType=INTEGER},
      </if>
      <if test="deleteId != null">
        delete_id = #{deleteId,jdbcType=INTEGER},
      </if>
    </set>
    where appendix_id = #{appendixId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Appendix">
    update appendix
    set affiche_id = #{afficheId,jdbcType=INTEGER},
      appendix_title = #{appendixTitle,jdbcType=VARCHAR},
      appendix_content = #{appendixContent,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=INTEGER},
      appendix_time = #{appendixTime,jdbcType=DATE},
      u_id = #{uId,jdbcType=INTEGER},
      appendix_sendee = #{appendixSendee,jdbcType=INTEGER},
      delete_id = #{deleteId,jdbcType=INTEGER}
    where appendix_id = #{appendixId,jdbcType=INTEGER}
  </update>
</mapper>