<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.CourseTeacherMapper">
  <insert id="courseTeacherinsert" useGeneratedKeys="true" keyProperty="ctid" parameterType="com.accp.domain.CourseTeacher">
		INSERT INTO `course_teacher`(`tid`,`courseId`)VALUE(#{tid},#{courseid})
  </insert>
</mapper>