<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.InterviewMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.Interview">
    <id column="interviewId" jdbcType="INTEGER" property="interviewid" />
    <result column="interviewteacherId" jdbcType="INTEGER" property="interviewteacherid" />
    <result column="interviewStudentId" jdbcType="INTEGER" property="interviewstudentid" />
    <result column="interviewProblem" jdbcType="VARCHAR" property="interviewproblem" />
    <result column="interviewFeedback" jdbcType="VARCHAR" property="interviewfeedback" />
    <result column="interviewTime" jdbcType="TIMESTAMP" property="interviewtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    interviewId, interviewteacherId, interviewStudentId, interviewProblem, interviewFeedback, 
    interviewTime
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.InterviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from interview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from interview
    where interviewId = #{interviewid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from interview
    where interviewId = #{interviewid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.InterviewExample">
    delete from interview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Interview">
    insert into interview (interviewId, interviewteacherId, 
      interviewStudentId, interviewProblem, interviewFeedback, 
      interviewTime)
    values (#{interviewid,jdbcType=INTEGER}, #{interviewteacherid,jdbcType=INTEGER}, 
      #{interviewstudentid,jdbcType=INTEGER}, #{interviewproblem,jdbcType=VARCHAR}, #{interviewfeedback,jdbcType=VARCHAR}, 
      #{interviewtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Interview">
    insert into interview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interviewid != null">
        interviewId,
      </if>
      <if test="interviewteacherid != null">
        interviewteacherId,
      </if>
      <if test="interviewstudentid != null">
        interviewStudentId,
      </if>
      <if test="interviewproblem != null">
        interviewProblem,
      </if>
      <if test="interviewfeedback != null">
        interviewFeedback,
      </if>
      <if test="interviewtime != null">
        interviewTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interviewid != null">
        #{interviewid,jdbcType=INTEGER},
      </if>
      <if test="interviewteacherid != null">
        #{interviewteacherid,jdbcType=INTEGER},
      </if>
      <if test="interviewstudentid != null">
        #{interviewstudentid,jdbcType=INTEGER},
      </if>
      <if test="interviewproblem != null">
        #{interviewproblem,jdbcType=VARCHAR},
      </if>
      <if test="interviewfeedback != null">
        #{interviewfeedback,jdbcType=VARCHAR},
      </if>
      <if test="interviewtime != null">
        #{interviewtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.InterviewExample" resultType="java.lang.Long">
    select count(*) from interview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update interview
    <set>
      <if test="record.interviewid != null">
        interviewId = #{record.interviewid,jdbcType=INTEGER},
      </if>
      <if test="record.interviewteacherid != null">
        interviewteacherId = #{record.interviewteacherid,jdbcType=INTEGER},
      </if>
      <if test="record.interviewstudentid != null">
        interviewStudentId = #{record.interviewstudentid,jdbcType=INTEGER},
      </if>
      <if test="record.interviewproblem != null">
        interviewProblem = #{record.interviewproblem,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewfeedback != null">
        interviewFeedback = #{record.interviewfeedback,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewtime != null">
        interviewTime = #{record.interviewtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update interview
    set interviewId = #{record.interviewid,jdbcType=INTEGER},
      interviewteacherId = #{record.interviewteacherid,jdbcType=INTEGER},
      interviewStudentId = #{record.interviewstudentid,jdbcType=INTEGER},
      interviewProblem = #{record.interviewproblem,jdbcType=VARCHAR},
      interviewFeedback = #{record.interviewfeedback,jdbcType=VARCHAR},
      interviewTime = #{record.interviewtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Interview">
    update interview
    <set>
      <if test="interviewteacherid != null">
        interviewteacherId = #{interviewteacherid,jdbcType=INTEGER},
      </if>
      <if test="interviewstudentid != null">
        interviewStudentId = #{interviewstudentid,jdbcType=INTEGER},
      </if>
      <if test="interviewproblem != null">
        interviewProblem = #{interviewproblem,jdbcType=VARCHAR},
      </if>
      <if test="interviewfeedback != null">
        interviewFeedback = #{interviewfeedback,jdbcType=VARCHAR},
      </if>
      <if test="interviewtime != null">
        interviewTime = #{interviewtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where interviewId = #{interviewid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Interview">
    update interview
    set interviewteacherId = #{interviewteacherid,jdbcType=INTEGER},
      interviewStudentId = #{interviewstudentid,jdbcType=INTEGER},
      interviewProblem = #{interviewproblem,jdbcType=VARCHAR},
      interviewFeedback = #{interviewfeedback,jdbcType=VARCHAR},
      interviewTime = #{interviewtime,jdbcType=TIMESTAMP}
    where interviewId = #{interviewid,jdbcType=INTEGER}
  </update>
</mapper>