<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.OptionMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.Option">
    <id column="option_id" jdbcType="INTEGER" property="optionId" />
    <result column="option_xx" jdbcType="VARCHAR" property="optionXx" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
    <result column="option_pd" jdbcType="INTEGER" property="optionPd" />
  </resultMap>
  
  <insert id="insertOption">
  		INSERT INTO `option`(`option_xx`,`topic_id`,`option_pd`)

		VALUE  		        (#{option_xx},#{topic_id},#{option_pd})
  </insert>
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    option_id, option_xx, topic_id, option_pd
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.OptionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from option
    where option_id = #{optionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from option
    where option_id = #{optionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.OptionExample">
    delete from option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Option">
    insert into option (option_id, option_xx, topic_id, 
      option_pd)
    values (#{optionId,jdbcType=INTEGER}, #{optionXx,jdbcType=VARCHAR}, #{topicId,jdbcType=INTEGER}, 
      #{optionPd,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Option">
    insert into option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        option_id,
      </if>
      <if test="optionXx != null">
        option_xx,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="optionPd != null">
        option_pd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        #{optionId,jdbcType=INTEGER},
      </if>
      <if test="optionXx != null">
        #{optionXx,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="optionPd != null">
        #{optionPd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.OptionExample" resultType="java.lang.Long">
    select count(*) from option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update option
    <set>
      <if test="record.optionId != null">
        option_id = #{record.optionId,jdbcType=INTEGER},
      </if>
      <if test="record.optionXx != null">
        option_xx = #{record.optionXx,jdbcType=VARCHAR},
      </if>
      <if test="record.topicId != null">
        topic_id = #{record.topicId,jdbcType=INTEGER},
      </if>
      <if test="record.optionPd != null">
        option_pd = #{record.optionPd,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update option
    set option_id = #{record.optionId,jdbcType=INTEGER},
      option_xx = #{record.optionXx,jdbcType=VARCHAR},
      topic_id = #{record.topicId,jdbcType=INTEGER},
      option_pd = #{record.optionPd,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Option">
    update option
    <set>
      <if test="optionXx != null">
        option_xx = #{optionXx,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="optionPd != null">
        option_pd = #{optionPd,jdbcType=INTEGER},
      </if>
    </set>
    where option_id = #{optionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Option">
    update option
    set option_xx = #{optionXx,jdbcType=VARCHAR},
      topic_id = #{topicId,jdbcType=INTEGER},
      option_pd = #{optionPd,jdbcType=INTEGER}
    where option_id = #{optionId,jdbcType=INTEGER}
  </update>
</mapper>