<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.QuestionnaireMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.Questionnaire">
    <id column="questionnaireId" jdbcType="INTEGER" property="questionnaireid" />
    <result column="publisher" jdbcType="INTEGER" property="publisher" />
    <result column="objectId" jdbcType="INTEGER" property="objectid" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    questionnaireId, publisher, objectId, delete
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.QuestionnaireExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from questionnaire
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from questionnaire
    where questionnaireId = #{questionnaireid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionnaire
    where questionnaireId = #{questionnaireid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.QuestionnaireExample">
    delete from questionnaire
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Questionnaire">
    insert into questionnaire (questionnaireId, publisher, objectId, 
      delete)
    values (#{questionnaireid,jdbcType=INTEGER}, #{publisher,jdbcType=INTEGER}, #{objectid,jdbcType=INTEGER}, 
      #{delete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Questionnaire">
    insert into questionnaire
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionnaireid != null">
        questionnaireId,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="objectid != null">
        objectId,
      </if>
      <if test="delete != null">
        delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionnaireid != null">
        #{questionnaireid,jdbcType=INTEGER},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=INTEGER},
      </if>
      <if test="objectid != null">
        #{objectid,jdbcType=INTEGER},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.QuestionnaireExample" resultType="java.lang.Long">
    select count(*) from questionnaire
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update questionnaire
    <set>
      <if test="record.questionnaireid != null">
        questionnaireId = #{record.questionnaireid,jdbcType=INTEGER},
      </if>
      <if test="record.publisher != null">
        publisher = #{record.publisher,jdbcType=INTEGER},
      </if>
      <if test="record.objectid != null">
        objectId = #{record.objectid,jdbcType=INTEGER},
      </if>
      <if test="record.delete != null">
        delete = #{record.delete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update questionnaire
    set questionnaireId = #{record.questionnaireid,jdbcType=INTEGER},
      publisher = #{record.publisher,jdbcType=INTEGER},
      objectId = #{record.objectid,jdbcType=INTEGER},
      delete = #{record.delete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Questionnaire">
    update questionnaire
    <set>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=INTEGER},
      </if>
      <if test="objectid != null">
        objectId = #{objectid,jdbcType=INTEGER},
      </if>
      <if test="delete != null">
        delete = #{delete,jdbcType=INTEGER},
      </if>
    </set>
    where questionnaireId = #{questionnaireid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Questionnaire">
    update questionnaire
    set publisher = #{publisher,jdbcType=INTEGER},
      objectId = #{objectid,jdbcType=INTEGER},
      delete = #{delete,jdbcType=INTEGER}
    where questionnaireId = #{questionnaireid,jdbcType=INTEGER}
  </update>
</mapper>