<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.RelationMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.Relation">
    <id column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="u1_id" jdbcType="INTEGER" property="u1Id" />
    <result column="u2_id" jdbcType="INTEGER" property="u2Id" />
    <result column="delete_id" jdbcType="INTEGER" property="deleteId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    relation_id, u1_id, u2_id, delete_id
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.RelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.RelationExample">
    delete from relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Relation">
    insert into relation (relation_id, u1_id, u2_id, 
      delete_id)
    values (#{relationId,jdbcType=INTEGER}, #{u1Id,jdbcType=INTEGER}, #{u2Id,jdbcType=INTEGER}, 
      #{deleteId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Relation">
    insert into relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="u1Id != null">
        u1_id,
      </if>
      <if test="u2Id != null">
        u2_id,
      </if>
      <if test="deleteId != null">
        delete_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="u1Id != null">
        #{u1Id,jdbcType=INTEGER},
      </if>
      <if test="u2Id != null">
        #{u2Id,jdbcType=INTEGER},
      </if>
      <if test="deleteId != null">
        #{deleteId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.RelationExample" resultType="java.lang.Long">
    select count(*) from relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update relation
    <set>
      <if test="record.relationId != null">
        relation_id = #{record.relationId,jdbcType=INTEGER},
      </if>
      <if test="record.u1Id != null">
        u1_id = #{record.u1Id,jdbcType=INTEGER},
      </if>
      <if test="record.u2Id != null">
        u2_id = #{record.u2Id,jdbcType=INTEGER},
      </if>
      <if test="record.deleteId != null">
        delete_id = #{record.deleteId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update relation
    set relation_id = #{record.relationId,jdbcType=INTEGER},
      u1_id = #{record.u1Id,jdbcType=INTEGER},
      u2_id = #{record.u2Id,jdbcType=INTEGER},
      delete_id = #{record.deleteId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Relation">
    update relation
    <set>
      <if test="u1Id != null">
        u1_id = #{u1Id,jdbcType=INTEGER},
      </if>
      <if test="u2Id != null">
        u2_id = #{u2Id,jdbcType=INTEGER},
      </if>
      <if test="deleteId != null">
        delete_id = #{deleteId,jdbcType=INTEGER},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Relation">
    update relation
    set u1_id = #{u1Id,jdbcType=INTEGER},
      u2_id = #{u2Id,jdbcType=INTEGER},
      delete_id = #{deleteId,jdbcType=INTEGER}
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
</mapper>