<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.TaskStageMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.TaskStage">
    <id column="stageId" jdbcType="INTEGER" property="stageid" />
    <result column="stageStartTime" jdbcType="TIMESTAMP" property="stagestarttime" />
    <result column="stageEndTime" jdbcType="TIMESTAMP" property="stageendtime" />
    <result column="stageAccessories" jdbcType="VARCHAR" property="stageaccessories" />
    <result column="taskId" jdbcType="INTEGER" property="taskid" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
    <result column="K1" jdbcType="VARCHAR" property="k1" />
    <result column="K2" jdbcType="VARCHAR" property="k2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stageId, stageStartTime, stageEndTime, stageAccessories, taskId, delete, K1, K2
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.TaskStageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_stage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_stage
    where stageId = #{stageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_stage
    where stageId = #{stageid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.TaskStageExample">
    delete from task_stage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.TaskStage">
    insert into task_stage (stageId, stageStartTime, stageEndTime, 
      stageAccessories, taskId, delete, 
      K1, K2)
    values (#{stageid,jdbcType=INTEGER}, #{stagestarttime,jdbcType=TIMESTAMP}, #{stageendtime,jdbcType=TIMESTAMP}, 
      #{stageaccessories,jdbcType=VARCHAR}, #{taskid,jdbcType=INTEGER}, #{delete,jdbcType=INTEGER}, 
      #{k1,jdbcType=VARCHAR}, #{k2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.TaskStage">
    insert into task_stage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stageid != null">
        stageId,
      </if>
      <if test="stagestarttime != null">
        stageStartTime,
      </if>
      <if test="stageendtime != null">
        stageEndTime,
      </if>
      <if test="stageaccessories != null">
        stageAccessories,
      </if>
      <if test="taskid != null">
        taskId,
      </if>
      <if test="delete != null">
        delete,
      </if>
      <if test="k1 != null">
        K1,
      </if>
      <if test="k2 != null">
        K2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stageid != null">
        #{stageid,jdbcType=INTEGER},
      </if>
      <if test="stagestarttime != null">
        #{stagestarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="stageendtime != null">
        #{stageendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stageaccessories != null">
        #{stageaccessories,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="k1 != null">
        #{k1,jdbcType=VARCHAR},
      </if>
      <if test="k2 != null">
        #{k2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.TaskStageExample" resultType="java.lang.Long">
    select count(*) from task_stage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task_stage
    <set>
      <if test="record.stageid != null">
        stageId = #{record.stageid,jdbcType=INTEGER},
      </if>
      <if test="record.stagestarttime != null">
        stageStartTime = #{record.stagestarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stageendtime != null">
        stageEndTime = #{record.stageendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stageaccessories != null">
        stageAccessories = #{record.stageaccessories,jdbcType=VARCHAR},
      </if>
      <if test="record.taskid != null">
        taskId = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.delete != null">
        delete = #{record.delete,jdbcType=INTEGER},
      </if>
      <if test="record.k1 != null">
        K1 = #{record.k1,jdbcType=VARCHAR},
      </if>
      <if test="record.k2 != null">
        K2 = #{record.k2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task_stage
    set stageId = #{record.stageid,jdbcType=INTEGER},
      stageStartTime = #{record.stagestarttime,jdbcType=TIMESTAMP},
      stageEndTime = #{record.stageendtime,jdbcType=TIMESTAMP},
      stageAccessories = #{record.stageaccessories,jdbcType=VARCHAR},
      taskId = #{record.taskid,jdbcType=INTEGER},
      delete = #{record.delete,jdbcType=INTEGER},
      K1 = #{record.k1,jdbcType=VARCHAR},
      K2 = #{record.k2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.TaskStage">
    update task_stage
    <set>
      <if test="stagestarttime != null">
        stageStartTime = #{stagestarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="stageendtime != null">
        stageEndTime = #{stageendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stageaccessories != null">
        stageAccessories = #{stageaccessories,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        taskId = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="delete != null">
        delete = #{delete,jdbcType=INTEGER},
      </if>
      <if test="k1 != null">
        K1 = #{k1,jdbcType=VARCHAR},
      </if>
      <if test="k2 != null">
        K2 = #{k2,jdbcType=VARCHAR},
      </if>
    </set>
    where stageId = #{stageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.TaskStage">
    update task_stage
    set stageStartTime = #{stagestarttime,jdbcType=TIMESTAMP},
      stageEndTime = #{stageendtime,jdbcType=TIMESTAMP},
      stageAccessories = #{stageaccessories,jdbcType=VARCHAR},
      taskId = #{taskid,jdbcType=INTEGER},
      delete = #{delete,jdbcType=INTEGER},
      K1 = #{k1,jdbcType=VARCHAR},
      K2 = #{k2,jdbcType=VARCHAR}
    where stageId = #{stageid,jdbcType=INTEGER}
  </update>
</mapper>