<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.VessionGradeMapper">
  <resultMap id="BaseResultMap" type="com.accp.domain.VessionGrade">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
  </resultMap>
  
  <resultMap type="com.accp.domain.VessionGrade" id="selectgradevession" extends="BaseResultMap">
  	<association property="grade" column="gid" javaType="com.accp.domain.Grade">
  		<result column="gname" jdbcType="VARCHAR" property="gname" />
  	</association>
  	<association property="vession" column="vid" javaType="com.accp.domain.Vession">
  		<result column="vname" jdbcType="VARCHAR" property="vname" />
  	</association>
  </resultMap>
  <select id="selectgvBybid" resultMap="selectgradevession">
  	SELECT vg.*,g.gname,v.vname FROM vession_grade vg
	INNER JOIN grade g ON vg.gid=g.gid
	INNER JOIN vession v ON vg.vid=v.vid
	where vg.bid=#{bid}
  </select>
  

  <select id="queryByVessionGradeVid" resultMap="BaseResultMap">
  	SELECT * FROM `vession_grade` WHERE vid=#{vid}
  </select>
  <select id="queryByVGbid" resultMap="BaseResultMap">
  	select * from vession_grade where bid=#{bid}
  </select>
  <insert id="insertVG" parameterType="com.accp.domain.VessionGrade">
  	 insert into vession_grade (bid, vid, gid
      )
    values (#{bid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}
      )
  </insert>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, vid, gid
  </sql>
  <select id="selectByExample" parameterType="com.accp.domain.VessionGradeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vession_grade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vession_grade
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vession_grade
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.VessionGradeExample">
    delete from vession_grade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.VessionGrade">
    insert into vession_grade (bid, vid, gid
      )
    values (#{bid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.VessionGrade">
    insert into vession_grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="gid != null">
        gid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.VessionGradeExample" resultType="java.lang.Long">
    select count(*) from vession_grade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update vession_grade
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.vid != null">
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vession_grade
    set bid = #{record.bid,jdbcType=INTEGER},
      vid = #{record.vid,jdbcType=INTEGER},
      gid = #{record.gid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.VessionGrade">
    update vession_grade
    <set>
      <if test="vid != null">
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.VessionGrade">
    update vession_grade
    set vid = #{vid,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=INTEGER}
  </update>

</mapper>